---
date: 2019-05-13 19:20:54
layout: null
title: Aventuras em Terramar
---

<link rel="stylesheet" type="text/css" href="assets/css/countdown.css">
<script type="text/javascript" src="assets/js/countdown.js"></script>
<h1>Aventuras em Terramar</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<img src="assets/img/players.jpeg" style="opacity: 0.7">